input,
select,
.form-control {
  display: inline-block;
  width: 100%;
  height: 4.4rem;
}
input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  border: 0;
}

@mixin focus($bd-c: $border-color-blue) {
  border-color: $bd-c;
  @include box-shadow(
    $top: 0,
    $left: 1px,
    $blur: 6px,
    $color: rgba(0, 0, 0, 0.3)
  );
}

.form-control {
  &:focus {
    @include focus;
  }
  &--default {
    //@extend 가져올 요소명;
    font-size: 1.4rem;
    border: 1px solid $border-color;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 6px;
  }
}

.checkbox {
  @include Align-box;
  position: relative;
  padding: 0 0 0 2.8rem;
  margin: 0.8rem 0;

  .checkbox__input {
    &:checked + .checkbox__label:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: $bg-color-blue;
      @include focus;
    }
  }
  .checkbox__label {
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2rem;
      height: 2rem;

      border-radius: 2px;
      border: 1px solid $border-color;
      background: #fff;
    }
  }

  &.checkbox--default {
  }
}

.form {
  &__cont {
  }

  .input-row {
    &__tit {
      color: $text-color;

      &--between {
        @include Align-between;
      }

      + .input-row__cont {
        margin-top: 10px;
      }
    }
    &__cont {
    }

    + .input-row {
      margin-top: 20px;
    }
  }
}
