/* color */
$main-color: #90c31f; // 메인 색상
$color-blue: #0077b3;
$text-color: #777;
$text-color-gray: #999;
$text-color-dark-black: #333;
$text-color-blue: #0077b3;
$border-color: #ccc;
$border-color-blue: #3bf;
$bg-color-light-gray: #f5f5f5;
$bg-color-white: #fff;
$bg-color-blue: #0077b3;

/* size */
$layout-size-xs: 48rem;
$layout-size-sm: 76.8rem;
$layout-size: 128rem;
$layout-size-lg: 192rem;

$font-size: 1rem;
$font-size-medium: 2.4rem;
$font-size-large: 3.2rem;

/* space */
$space: 2rem;
$space-x2: 4rem;
$space-x3: 6rem;
$space-x4: 8rem;
