html,
body {
  height: 100%;
  min-height: 100%;
}

.wrap {
  height: 100%;
  min-height: 100%;
  background-color: $bg-color-light-gray;

  .wrap__inner {
  }

  //로그인
  &--sign {
    //@extend .wrap;
    @include Align-middle;

    .wrap__inner {
      position: relative;
      width: 100%;
      max-width: $layout-size-xs;
      padding: $space-x2;
      margin: 0 $space;
      border-top: 2px solid $main-color;
      background-color: $bg-color-white;
      box-sizing: border-box;
      @include box-shadow(
        $top: 0,
        $left: 0,
        $blur: 8px,
        $color: rgba(0, 0, 0, 0.12)
      );

      .login-box {
        margin: $space-x2 0 $space;
      }
    }

    .header {
      @include Position($top: 0, $left: 0, $right: 0);

      .header__inner {
        @include Position($bottom: 0, $left: 0, $right: 0);
        @include Align-between;
      }

      .logo {
        display: flex;
        @include Bold;
        font-size: $font-size-medium;
        margin-bottom: 10px;

        img {
          margin-right: 10px;
        }
        .logo__text {
          @include Align-middle-left-column;
          line-height: 1.2;
          span {
            font-size: 1.1rem;
          }
        }
      }
      h1 {
        padding: 16px 20px;
        color: #fff;
        @include square($size: auto, $radius: 6px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: $main-color;
      }
    }
    .form {
      &__footer {
        border-top: 1px solid $bg-color-light-gray;
        padding-top: $space;
      }
    }
    .footer {
      @include Position($bottom: 0, $left: 0, $right: 0);

      .footer__inner {
        @include Position($top: 0, $left: 0, $right: 0);
        @include Align-middle;
        padding: $space;
        border: 1px solid red;

        p {
          font-size: 1.2rem;
          color: $text-color-gray;
        }
      }
    }
  }
}
