@charset "UTF-8";
/* color */
/* size */
/* space */
/*인라인 가로스크롤*/
/*폰트만 삭제시킴*/
/*투명도 믹스인*/
/*포지션 믹스인*/
/*백그라운드 믹스인*/
/* 말줄임표 */
/*미디어쿼리 믹스인*/
/*
	BEM 클래스 이름에는 최대 세 부분이 포함됩니다.

	블록 : 구성 요소의 가장 바깥 쪽 부모 요소가 블록으로 정의됩니다.
	요소 : 구성 요소 내부에는 요소라고하는 하나 이상의 자식이있을 수 있습니다.
	수정 자 : 블록 또는 요소는 수정 자로 표시되는 변형을 가질 수 있습니다.
	세 가지 모두 이름에 사용되는 경우 다음과 같이 표시됩니다.
	- 수정 자 클래스를 단독으로 사용하지 마십시오. 수정 자 클래스는 기본 클래스를 대체하는 것이 아니라 확장하기위한 것입니다.

	[block]__[element]--[modifier]
*/
*[class].hidden {
	overflow: hidden;
	white-space: nowrap;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

.link, .link--small {
	color: #0077b3;
	text-decoration: underline;
}

.link--small {
	font-size: 1.4rem;
}

.box-between {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.text--align-c {
	text-align: center;
}

.main-wrap * {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.main-wrap .inner-type3 {
	padding: 0 90px;
}

.main-wrap .h-type p {
	font-size: 36px;
	color: #8f9191;
}

.main-wrap .h-type p.small {
	font-size: 18px;
}

.main-wrap .h-type h2 {
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	font-size: 46px;
	color: #2f2f2f;
}

.main-wrap .btn-goLink {
	font-size: 18px;
	color: #2f2f2f;
}

.main-wrap .btn-goLink:after {
	display: inline-block;
	content: "";
	width: 10px;
	height: 14px;
	background: url(../../resources-pc/images/icons/ico-main-arrow4.png) 0 0 no-repeat;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
	margin-left: 5px;
}

.main-wrap .t-red {
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	margin-top: 10px;
	font-size: 28px;
	color: #da291c;
}

.main-wrap .t-red sub {
	font-size: 18px;
}

.main-wrap .pagination-wrap .swiper-pagination {
	z-index: 0;
	position: inherit;
	width: auto;
}

.main-wrap .pagination-wrap .swiper-pagination .swiper-pagination-current {
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	line-height: 1.2;
	margin-right: 2px;
}

.main-wrap .pagination-wrap .swiper-pagination .swiper-pagination-total {
	margin-left: 2px;
}

.main-wrap .pagination-wrap .btn-paging-prev {
	margin-right: 20px;
}

.main-wrap .pagination-wrap .btn-paging-next {
	margin-left: 20px;
}

.main-wrap .main-visual-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	position: relative;
	max-width: 1680px;
	min-width: 1680px;
	margin: 20px auto 0;
	width: 100%;
	height: 720px;
	color: #fff;
}

.main-wrap .main-visual-wrap .main-visual-slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 630px;
	height: 100%;
}

.main-wrap .main-visual-wrap .main-visual-slide .swiper-pagination-wrap {
	position: absolute;
	height: 50px;
	top: 100px;
	left: 175px;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-pager {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	color: #fff;
	font-size: 14px;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-pager .loading-bar {
	width: 128px;
	height: 2px;
	margin: 0 40px 0 10px;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-pager .loading-ani {
	display: block;
	height: 2px;
	background: #fff;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-pager button {
	width: 9px;
	height: 9px;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
	margin-left: 10px;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-pager .stop {
	background: url(../../resources-pc/images/icons/ico-main-stop.png) 0 0 no-repeat;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-pager .play {
	background: url(../../resources-pc/images/icons/ico-main-play.png) 0 0 no-repeat;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-list {
	position: relative;
	width: 100%;
	height: 100%;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-list .main-img-wrap {
	width: 630px;
	height: 720px;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-list .main-img-wrap img {
	width: 100%;
	height: auto;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-list .text-cont {
	padding-top: 23px;
	color: #fff;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-list .text-cont strong {
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	color: #fff;
	font-size: 42px;
	line-height: 1.4;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-list .text-cont p {
	font-family: "ManropeR", "NotoR", serif;
	/*font-family: "SpoqaR", serif;*/
	/*font-family: "SpoqaHanSansR", serif;*/
	font-weight: normal;
	font-size: 22px;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-list .text-cont .btn-more {
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	margin-top: 60px;
	font-size: 14px;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-list .text-cont .btn-more:after {
	content: "";
	display: inline-block;
	width: 10px;
	height: 14px;
	margin-left: 5px;
	background: url(../../resources-pc/images/icons/ico-main-arrow.png) 0 0 no-repeat;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
	vertical-align: middle;
}

.main-wrap .main-visual-wrap .main-visual-slide .main-visual-list .slide-img {
	position: absolute;
	right: 0;
	bottom: 30px;
	width: 307px;
	height: 270px;
}

.main-wrap .main-visual-wrap .section-visual-booking {
	width: 420px;
	height: 100%;
	background: #333;
	z-index: 2;
}

.main-wrap .main-visual-wrap .section-visual-booking h2 {
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	font-size: 22px;
	padding-left: 5px;
}

.main-wrap .main-visual-wrap .section-visual-booking h2:before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 24px;
	margin-right: 10px;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
	vertical-align: text-top;
}

.main-wrap .main-visual-wrap .section-visual-booking .btn-link {
	border: 0 none;
	color: #aaa;
	height: 50px;
	padding: 0 0 0 5px;
	text-align: left;
	line-height: 1.4;
	font-size: 16px;
	font-family: "ManropeR", "NotoR", serif;
	/*font-family: "SpoqaR", serif;*/
	/*font-family: "SpoqaHanSansR", serif;*/
	font-weight: normal;
}

.main-wrap .main-visual-wrap .section-visual-booking .btn-link b {
	color: #aaa;
	font-size: 16px;
	line-height: 1;
}

.main-wrap .main-visual-wrap .section-visual-booking .btn-link.active {
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
}

.main-wrap .main-visual-wrap .section-visual-booking .btn-link.active:after {
	display: inline-block;
	content: "";
	background: url(../../resources-pc/images/icons/ico-check3-on.png) 0 0 no-repeat;
	width: 14px;
	height: 11px;
	margin-left: 10px;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
}

.main-wrap .main-visual-wrap .section-visual-booking .btn-link.active b {
	border-bottom: 1px solid #fff;
	color: #fff;
	font-size: 16px;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar {
	padding: 50px 0 35px 30px;
	-webkit-border-radius: 50px 0 0 0;
	   -moz-border-radius: 50px 0 0 0;
	        border-radius: 50px 0 0 0;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar h2:before {
	background: url(../../resources-pc/images/icons/ico-main-calendar.png) 0 0 no-repeat;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .main-calender-wrap {
	height: 585px;
	overflow: hidden;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .main-calender-wrap > div {
	overflow-y: auto;
	overflow-x: hidden;
	height: 570px;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box .calendar-tit {
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	font-size: 20px;
	padding: 15px 10px;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table {
	width: 100%;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table th, .main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table td {
	text-align: center;
	padding: 13px 0;
	color: #aaa;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table th {
	padding-top: 0;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .btn {
	width: 38px;
	height: 38px;
	padding: 0;
	color: #aaa;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .disabled,
.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .disabled > button,
.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table button[disabled] {
	color: #8f9191;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .today .btn {
	position: relative;
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	color: #fff;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .today .btn:after {
	content: "";
	display: block;
	width: 20px;
	height: 1px;
	margin: 0 auto;
	background-color: #fff;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .today.on .btn:after, .main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .today.start .btn:after, .main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .today.end .btn:after, .main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .today.during .btn:after {
	background-color: #fff;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .start .btn, .main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .end .btn, .main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .during .btn {
	width: 100%;
	color: #fff;
	background-color: #ff404b;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .start .btn {
	-webkit-border-top-left-radius: 38px;
	   -moz-border-radius-topleft: 38px;
	        border-top-left-radius: 38px;
	-webkit-border-bottom-left-radius: 38px;
	   -moz-border-radius-bottomleft: 38px;
	        border-bottom-left-radius: 38px;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .end .btn {
	-webkit-border-top-right-radius: 38px;
	   -moz-border-radius-topright: 38px;
	        border-top-right-radius: 38px;
	-webkit-border-bottom-right-radius: 38px;
	   -moz-border-radius-bottomright: 38px;
	        border-bottom-right-radius: 38px;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .on .btn {
	color: #fff;
	background-color: #ff404b;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
}

.main-wrap .main-visual-wrap .section-visual-booking.calendar .tbl-box table .day .btn {
	width: 38px;
	background-color: #ff404b;
	-webkit-border-radius: 1.7rem;
	   -moz-border-radius: 1.7rem;
	        border-radius: 1.7rem;
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	color: #fff;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch {
	padding: 50px 20px 35px 40px;
	background: #242424;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .mCSB_inside > .mCSB_container {
	margin-right: 0;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .m-tit {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .m-tit .btn-red {
	font-size: 12px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	height: 25px;
	width: 70px;
	margin-right: 5px;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .m-tit .inputC {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .m-tit .inputC label {
	line-height: 1;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .m-tit .inputC label:before {
	background: url(../../resources-pc/images/icons/ico-check3-off.png) 0 0 no-repeat;
	width: 14px;
	height: 11px;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .m-tit .inputC label span {
	font-size: 16px;
	color: #bbb;
	font-family: "ManropeR", "NotoR", serif;
	/*font-family: "SpoqaR", serif;*/
	/*font-family: "SpoqaHanSansR", serif;*/
	font-weight: normal;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .m-tit .inputC input:checked + label:before {
	background: url(../../resources-pc/images/icons/ico-check3-on.png) 0 0 no-repeat;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .m-tit .inputC input:checked + label span {
	color: #fff;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch h2:before {
	height: 27px;
	background: url(../../resources-pc/images/icons/ico-main-branch.png) 0 0 no-repeat;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont {
	position: relative;
	overflow: hidden;
	height: 585px;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-toggle-txt {
	line-height: 1.4;
	font-size: 16px;
	overflow: hidden;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-tit {
	padding: 35px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-tit .iconList {
	border: 0 none;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-tit .iconList li {
	padding-right: 5px;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-tit .iconList li label {
	width: 110px;
	height: 40px;
	background: #242424;
	border: 1px solid #666;
	-webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
	        border-radius: 50px;
	font-size: 18px;
	font-family: "ManropeR", "NotoR", serif;
	/*font-family: "SpoqaR", serif;*/
	/*font-family: "SpoqaHanSansR", serif;*/
	font-weight: normal;
	color: #ddd;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-tit .iconList li input:checked + label {
	background: #ff404b;
	border-color: #ff404b;
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	color: #fff;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-tit .iconList li input:disabled + label {
	background: #242424;
	border-color: #444;
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	color: #4d4e4e;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-branch {
	display: none;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-branch .short-branch-tab2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-branch .short-branch-tab2 li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 20px;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-branch .short-branch-tab2 li button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	font-size: 16px;
	color: #aaa;
	margin: 0 5px;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-branch .short-branch-tab2 li.active button {
	border-bottom: 1px solid #ce8d57;
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	color: #ce8d57;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-branch .short-branch-tab2 li label {
	border: 0 none;
	background: #242424;
	font-size: 16px;
	font-family: "ManropeR", "NotoR", serif;
	/*font-family: "SpoqaR", serif;*/
	/*font-family: "SpoqaHanSansR", serif;*/
	font-weight: normal;
	color: #aaa;
	height: auto;
	margin: 0.9rem 0 .9rem 0;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-branch .short-branch-tab2 li input:checked + label {
	border-bottom: 1px solid #ce8d57;
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	color: #ce8d57;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-branch .short-branch-tab2 li:nth-of-type(2):before {
	display: inline-block;
	content: "";
	border-right: 1px solid #aaa;
	height: 50%;
	width: 1px;
	margin: 0 5px;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-wrap .shor-main-list-lt {
	overflow-y: auto;
	height: 475px;
	width: 50%;
	padding: 5px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-wrap .shor-main-list-lt ul {
	width: 100%;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-wrap .shor-main-list-rt {
	height: 475px;
	width: 50%;
	padding: 5px 0 5px 5px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.main-wrap .main-visual-wrap .section-visual-booking.branch .shor-main-toggle-cont .shor-main-list-wrap .shor-main-list-rt > div {
	overflow-y: auto;
	overflow-x: hidden;
	height: 475px;
	width: 100%;
}

.main-wrap .main-visual-wrap .section-visual-booking.time {
	padding: 50px 30px 35px 30px;
	width: 260px;
}

.main-wrap .main-visual-wrap .section-visual-booking.time .m-time h2:before {
	height: 30px;
	width: 30px;
	background: url(../../resources-pc/images/icons/ico-main-time.png) 0 0 no-repeat;
}

.main-wrap .main-visual-wrap .section-visual-booking.time .m-car h2:before {
	height: 30px;
	width: 30px;
	background: url(../../resources-pc/images/icons/ico-main-car.png) 0 0 no-repeat;
}

.main-wrap .main-visual-wrap .section-visual-booking.time .car-list ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	margin-top: 10px;
}

.main-wrap .main-visual-wrap .section-visual-booking.time .car-list ul li {
	width: 50%;
}

.main-wrap .main-visual-wrap .section-visual-booking.time .time-list p {
	padding: 30px 0 5px;
	font-size: 14px;
	color: #fff;
}

.main-wrap .main-visual-wrap .section-visual-booking.time .m-car {
	margin-top: 50px;
}

.main-wrap .main-visual-wrap .section-visual-booking.time .selection-cont {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-bottom: 1px solid #666;
}

.main-wrap .main-visual-wrap .section-visual-booking.time .selection-cont .selectbox {
	border: none;
	background: url(../../resources-pc/images/icons/ico-arrow-down2.png) center right no-repeat;
	height: 35px;
	width: 40%;
	padding: 0 5px;
	color: #aaa;
	font-size: 16px;
}

.main-wrap .booking-path-wrap {
	height: 80px;
	margin-bottom: 40px;
}

.main-wrap .booking-path-wrap .inner {
	width: 100%;
	max-width: 1680px;
	min-width: 1420px;
}

.main-wrap .booking-path-wrap .booking-result {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 1100px;
	height: 80px;
	background-color: #f5f5f5;
}

.main-wrap .booking-path-wrap .booking-result:before {
	content: "";
	position: absolute;
	top: 0;
	left: -99px;
	display: block;
	width: 99px;
	height: 80px;
	background-repeat: no-repeat;
	background-image: url("../../resources-pc/images/common/bg-gnb-round2.png");
	background-position: 0 0;
	-webkit-background-size: 99px 80px;
	   -moz-background-size: 99px 80px;
	        background-size: 99px 80px;
}

.main-wrap .booking-path-wrap .booking-result .result-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-wrap .booking-path-wrap .booking-result .tit {
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	font-size: 18px;
	color: #3c3d3d;
}

.main-wrap .booking-path-wrap .booking-result ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-left: 5px;
}

.main-wrap .booking-path-wrap .booking-result ul > li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	font-size: 16px;
	color: #54585a;
	padding: 0 10px;
}

.main-wrap .booking-path-wrap .booking-result ul > li + li:before {
	display: block;
	content: '';
	background: #c3c3c3;
	height: 15px;
	width: 1px;
	margin-right: 15px;
}

.main-wrap .booking-path-wrap .booking-result .booking-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	width: 260px;
	height: 80px;
	padding: 10px 75px 10px 40px;
	background: #ed1c24;
	color: #fff;
	font-size: 22px;
}

.main-wrap .booking-path-wrap .booking-result .booking-btn:after {
	display: inline-block;
	content: '';
	width: 11px;
	height: 18px;
	background: url(../../resources-pc/images/icons/ico-main-arrow2.png) 0 0 no-repeat;
	-webkit-background-size: center auto;
	   -moz-background-size: center auto;
	        background-size: center auto;
}

.main-wrap .booking-path-wrap .booking-result .booking-btn:disabled {
	background: #eee;
	color: #999;
}

.main-wrap .booking-path-wrap .booking-result .booking-btn:disabled:after {
	background: url(../../resources-pc/images/icons/ico-main-arrow3.png) 0 0 no-repeat;
}

.main-wrap .quick-menu-wrap .q-tit {
	position: absolute;
	top: -85px;
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	font-size: 28px;
	color: #2f2f2f;
}

.main-wrap .quick-menu-wrap .q-list {
	padding: 0 70px 55px;
	border-bottom: 1px solid #eee;
}

.main-wrap .quick-menu-wrap .q-list ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-wrap .quick-menu-wrap .q-list a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	font-size: 14px;
	color: #2f2f2f;
}

.main-wrap .quick-menu-wrap .q-list a > span {
	width: 66px;
	height: 50px;
	margin-bottom: 20px;
	background-position: center center;
	background-repeat: no-repeat;
}

.main-wrap .quick-menu-wrap .q-list a .ico-quick1 {
	background-image: url(../../resources-pc/images/icons/ico-main-quick8.png);
}

.main-wrap .quick-menu-wrap .q-list a .ico-quick2 {
	background-image: url(../../resources-pc/images/icons/ico-main-quick3.png);
}

.main-wrap .quick-menu-wrap .q-list a .ico-quick3 {
	background-image: url(../../resources-pc/images/icons/ico-main-quick6.png);
}

.main-wrap .quick-menu-wrap .q-list a .ico-quick4 {
	background-image: url(../../resources-pc/images/icons/ico-main-quick7.png);
}

.main-wrap .quick-menu-wrap .q-list a .ico-quick5 {
	background-image: url(../../resources-pc/images/icons/ico-main-quick9.png);
}

.main-wrap .quick-menu-wrap .q-list a .ico-quick6 {
	background-image: url(../../resources-pc/images/icons/ico-main-quick5.png);
}

.main-wrap .quick-menu-wrap .q-list a .ico-quick7 {
	background-image: url(../../resources-pc/images/icons/ico-main-quick1.png);
}

.main-wrap .quick-menu-wrap .q-list a .ico-quick8 {
	background-image: url(../../resources-pc/images/icons/ico-main-quick2.png);
}

.main-wrap .direct-section .inner-type3 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 1800px;
	max-width: 1800px;
	padding: 100px 0 0 188px;
}

.main-wrap .direct-section .h-type .btn-red {
	height: 50px;
	margin-top: 50px;
}

.main-wrap .direct-section .direct-slide-wrap {
	width: 1160px;
	height: 480px;
}

.main-wrap .direct-section .direct-slide-wrap .img-wrap {
	position: relative;
	margin-left: 40px;
	padding-top: 20px;
}

.main-wrap .direct-section .direct-slide-wrap .img-wrap .img-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background: #fafafa;
	width: 360px;
	height: 320px;
}

.main-wrap .direct-section .direct-slide-wrap .img-wrap .img-box .num {
	position: absolute;
	top: -5px;
	left: 40px;
	font-size: 42px;
	color: #8f9191;
}

.main-wrap .direct-section .direct-slide-wrap .img-wrap .img-box .img {
	width: 315px;
	height: auto;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
}

.main-wrap .direct-section .direct-slide-wrap .img-wrap .img-box .img img {
	width: 100%;
	height: auto;
}

.main-wrap .direct-section .direct-slide-wrap .img-wrap .img-txt {
	margin-top: 30px;
	color: #8f9191;
	font-size: 18px;
}

.main-wrap .direct-section .direct-slide-wrap .img-wrap .img-txt > strong {
	font-size: 22px;
	color: #2f2f2f;
}

.main-wrap .direct-section .slick-dots {
	position: absolute;
	left: -454px;
	bottom: 138px;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}

.main-wrap .direct-section .slick-dots li {
	margin: 0 5px 0 0;
}

.main-wrap .direct-section .slick-dots button:before {
	width: 60px;
	height: 20px;
	border: none;
	border-bottom: 1px solid #ddd;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	background: #fff;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.main-wrap .direct-section .slick-dots .slick-active button:before {
	height: 20px;
	border: none;
	border-bottom: 4px solid #2f2f2f;
	background: #fff;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.main-wrap .direct-section .slick-dots .slick-active button:after {
	display: inline-block;
	content: '';
	width: 0;
	-webkit-transition: width .6s;
	-o-transition: width .6s;
	-moz-transition: width .6s;
	transition: width .6s;
}

.main-wrap .secondhand-wrap {
	margin-top: 70px;
	background: url(../../resources-pc/images/common/bg-main-secondhand.png) 100% 10% repeat-x;
}

.main-wrap .secondhand-wrap .tab-type {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	   -moz-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 48px;
}

.main-wrap .secondhand-wrap .tab-type ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.main-wrap .secondhand-wrap .tab-type ul li {
	vertical-align: bottom;
	padding-right: 50px;
}

.main-wrap .secondhand-wrap .tab-type ul li button {
	font-size: 22px;
	color: #54585a;
}

.main-wrap .secondhand-wrap .tab-type ul li.active button {
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	font-size: 28px;
	color: #2f2f2f;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap {
	margin-top: 60px;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .swiper-container {
	height: 470px;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .swiper-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	   -moz-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	width: 1420px;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .swiper-wrapper .slide-type {
	width: 330px;
	height: 440px;
	margin-right: 30px;
	background: #fff;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .swiper-wrapper .slide-type img {
	width: 330px;
	height: 230px;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .swiper-wrapper .slide-type .txt-type {
	padding: 30px 20px;
	color: #8f9191;
	font-size: 16px;
	border: 1px solid #f1f1f1;
	border-top: 0 none;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .swiper-wrapper .slide-type .txt-type .tit > strong {
	width: 100%;
	display: block;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
	color: #2f2f2f;
	line-height: 1.5;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .swiper-wrapper .slide-type .txt-type .t-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	   -moz-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	min-width: 100%;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .swiper-wrapper .slide-type .txt-type .t-list li {
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	color: #8f9191;
	font-size: 16px;
	line-height: 1.5;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .swiper-wrapper .slide-type .txt-type .t-list li + li:before {
	display: inline-block;
	content: "";
	width: 1px;
	height: 14px;
	background: #d2d2d2;
	margin: 0 8px;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .swiper-wrapper .slide-type .txt-type .t-list li:nth-of-type(3) {
	-webkit-flex-shrink: 1;
	    -ms-flex-negative: 1;
	        flex-shrink: 1;
	width: 100%;
	display: block;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .swiper-wrapper .slide-type .txt-type .t-list:nth-of-type(3) {
	width: 100px;
	display: block;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .swiper-wrapper .slide-type .txt-type .t-spot {
	margin-top: 20px;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .swiper-wrapper .slide-type .txt-type .t-spot span {
	padding: 6px 9px;
	background: #f4f4f4;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	color: #2f2f2f;
	font-size: 13px;
	margin-right: 5px;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .swiper-wrapper .slide-type .txt-type .t-red {
	margin-top: 25px;
}

.main-wrap .secondhand-wrap .secondhand-slide-wrap .pagination-wrap {
	margin-top: 50px;
}

.main-wrap .banner-wrap {
	margin-top: 100px;
}

.main-wrap .banner-wrap .banner-slide-wrap {
	position: relative;
}

.main-wrap .banner-wrap .banner-slide-wrap .m-banner img {
	width: 100%;
	height: 130px;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
}

.main-wrap .banner-wrap .slick-dots {
	position: absolute;
	right: 20px;
	bottom: 15px;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	background: none;
}

.main-wrap .banner-wrap .slick-dots li {
	margin: 0 5px 0 0;
}

.main-wrap .banner-wrap .slick-dots button:before {
	width: 7px;
	height: 7px;
	margin: 0 4px;
	background: #7b7673;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
	border: none;
}

.main-wrap .banner-wrap .slick-dots .slick-active button:before {
	background: #fff;
	border: none;
}

.main-wrap .banner-wrap .slick-dots .slick-active button:after {
	display: inline-block;
	content: '';
	width: 0;
	-webkit-transition: width .6s;
	-o-transition: width .6s;
	-moz-transition: width .6s;
	transition: width .6s;
}

.main-wrap .banner-wrap .slick-dots {
	position: absolute;
	right: 20px;
	bottom: 15px;
}

.main-wrap .banner-wrap .slick-dots ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.main-wrap .banner-wrap .slick-dots ul button {
	width: 7px;
	height: 7px;
	margin: 0 4px;
	background: #7b7673;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
	font-size: 1px;
	text-indent: -9999px;
}

.main-wrap .banner-wrap .slick-dots ul .slick-active > button {
	background: #fff;
}

.main-wrap .hotdeal-wrap {
	margin-top: 100px;
	background: url(../../resources-pc/images/common/bg-main-hotdeal.png) left 97% repeat-x;
}

.main-wrap .hotdeal-wrap .hotdeal-twrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	   -moz-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-bottom: 1px solid #eee;
	padding-bottom: 40px;
}

.main-wrap .hotdeal-wrap .t-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.main-wrap .hotdeal-wrap .t-wrap .flag-wrap {
	position: inherit;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	   -moz-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 20px 0 0 50px;
}

.main-wrap .hotdeal-wrap .t-wrap .flag-wrap b, .main-wrap .hotdeal-wrap .t-wrap .flag-wrap span {
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	font-size: 30px;
	color: #54585a;
}

.main-wrap .hotdeal-wrap .t-wrap .flag-wrap b {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	   -moz-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
}

.main-wrap .hotdeal-wrap .t-wrap .flag-wrap b.texRed {
	color: #ed1c24;
}

.main-wrap .hotdeal-wrap .t-wrap .flag-wrap span {
	margin: -7px 20px 0;
	color: #999;
}

.main-wrap .hotdeal-wrap .t-wrap .flag-wrap i {
	color: #8f9191;
	font-size: 13px;
	margin-top: 2px;
}

.main-wrap .hotdeal-wrap .t-wrap .flag-wrap .d-day {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	position: relative;
	background: -webkit-gradient(linear, left top, right top, from(#fb4457), to(#f15d37));
	background: -webkit-linear-gradient(left, #fb4457 0%, #f15d37 100%);
	background: -moz-linear-gradient(left, #fb4457 0%, #f15d37 100%);
	background: -o-linear-gradient(left, #fb4457 0%, #f15d37 100%);
	background: linear-gradient(90deg, #fb4457 0%, #f15d37 100%);
	width: 70px;
	height: 70px;
	margin-right: 30px;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	color: #fff;
	font-size: 12px;
}

.main-wrap .hotdeal-wrap .t-wrap .flag-wrap .d-day strong {
	font-size: 22px;
	color: #fff;
}

.main-wrap .hotdeal-wrap .t-wrap .flag-wrap .d-day:after {
	display: inline-block;
	content: "";
	position: absolute;
	right: 9px;
	bottom: -1px;
	width: 12px;
	height: 12px;
	background: url(../../resources-pc/images/bg-main-dday.png) no-repeat center center;
}

.main-wrap .hotdeal-wrap .btn-goLink {
	margin-bottom: 10px;
}

.main-wrap .hotdeal-wrap .hotdeal-slide-wrap {
	margin-top: 80px;
}

.main-wrap .hotdeal-wrap .hotdeal-slide-cont {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-wrap .hotdeal-wrap .hotdeal-slide-cont .slide-type a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 325px;
}

.main-wrap .hotdeal-wrap .hotdeal-slide-cont .slide-type a .txt-type {
	position: relative;
	width: 290px;
	height: 270px;
	margin-top: 10px;
	color: #8f9191;
	font-size: 22px;
}

.main-wrap .hotdeal-wrap .hotdeal-slide-cont .slide-type a .txt-type .tit > strong {
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	font-size: 24px;
	color: #2f2f2f;
	line-height: 1.5;
}

.main-wrap .hotdeal-wrap .hotdeal-slide-cont .slide-type a .txt-type .t-red {
	position: absolute;
	bottom: 60px;
}

.main-wrap .hotdeal-wrap .hotdeal-slide-cont .slide-type a .txt-type del {
	position: absolute;
	bottom: 100px;
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	display: block;
	margin-top: 30px;
	font-size: 22px;
	color: #ddd;
}

.main-wrap .hotdeal-wrap .hotdeal-slide-cont .slide-type a .txt-type del sub {
	font-size: 14px;
}

.main-wrap .hotdeal-wrap .hotdeal-slide-cont .slide-type a .img {
	position: relative;
}

.main-wrap .hotdeal-wrap .hotdeal-slide-cont .slide-type a .img:after {
	display: block;
	content: "";
	width: 360px;
	height: 50px;
	position: absolute;
	bottom: -50px;
	background: url(../../resources-pc/images/bg-main-hotdeal.png) repeat-x 0 0;
}

.main-wrap .hotdeal-wrap .hotdeal-slide-cont .slide-type a .img img {
	width: 360px;
	height: 280px;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
}

.main-wrap .hotdeal-wrap .hotdeal-slide-cont .slide-type a .img .flag {
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	position: absolute;
	top: 0;
	left: 0;
	width: 74px;
	height: 77px;
	padding: 0 5px 10px;
	background: url(../../resources-pc/images/icons/ico-main-flag.png) 0 0 no-repeat;
	-webkit-border-radius: inherit;
	   -moz-border-radius: inherit;
	        border-radius: inherit;
	color: #fff;
	font-size: 26px;
}

.main-wrap .hotdeal-wrap .hotdeal-slide-cont .slide-type a .img .flag sub {
	font-size: 16px;
	vertical-align: baseline;
}

.main-wrap .hotdeal-wrap .pagination-wrap {
	padding: 15px 0 50px;
}

.main-wrap .life-wrap {
	margin-top: 80px;
}

.main-wrap .life-wrap .t-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	   -moz-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-wrap .life-wrap .t-wrap .h-type {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	   -moz-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	   -moz-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.main-wrap .life-wrap .t-wrap .h-type ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	   -moz-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	margin: 0 30px 15px 30px;
}

.main-wrap .life-wrap .t-wrap .h-type ul li {
	margin-right: 15px;
}

.main-wrap .life-wrap .t-wrap .h-type ul li .btn-foot-sns {
	border: none;
	background: #8f9191;
	padding: 0;
}

.main-wrap .life-wrap .t-wrap .h-type ul li .snsB {
	background-image: url(../../resources-pc/images/icons/ico-main-sns-blog.png);
	width: 10px;
	height: 14px;
}

.main-wrap .life-wrap .t-wrap .h-type ul li .snsF {
	background-image: url(../../resources-pc/images/icons/ico-main-sns-fb.png);
	width: 10px;
	height: 18px;
}

.main-wrap .life-wrap .t-wrap .h-type ul li .snsI {
	background-image: url(../../resources-pc/images/icons/ico-main-sns-insta.png);
	width: 16px;
	height: 16px;
}

.main-wrap .life-wrap .t-wrap .h-type ul li .snsY {
	background-image: url(../../resources-pc/images/icons/ico-main-sns-yt.png);
	width: 16px;
	height: 11px;
}

.main-wrap .life-wrap .t-wrap .h-type ul li .snsK {
	background-image: url(../../resources-pc/images/icons/ico-main-sns-kakao.png);
	width: 21px;
	height: 18px;
}

.main-wrap .life-wrap .life-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 65px;
	border-bottom: 1px solid #eee;
}

.main-wrap .life-wrap .life-list .life-type {
	width: 220px;
	height: 370px;
}

.main-wrap .life-wrap .life-list .life-type img {
	width: 220px;
	height: 220px;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
}

.main-wrap .life-wrap .life-list .life-type h3 {
	margin-top: 30px;
	color: #54585a;
	font-size: 18px;
}

.main-wrap .life-wrap .life-list .life-type p {
	color: #8f9191;
	font-size: 14px;
}

.main-wrap .notice-wrap .notice-cont {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-right: 60px;
	margin-top: 45px;
}

.main-wrap .notice-wrap .h-type {
	margin-top: -20px;
}

.main-wrap .notice-wrap .h-type p:after {
	display: inline-block;
	content: "";
	width: 56px;
	height: 34px;
	margin-left: 10px;
	background: url(../../resources-pc/images/icons/ico-main-notice.png) 0 0 no-repeat;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
}

.main-wrap .notice-wrap .h-type .btn-goLink {
	display: block;
	margin-top: 45px;
}

.main-wrap .notice-wrap .notice-list {
	/* display: flex;
            flex-flow: row wrap; */
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	width: 770px;
}

.main-wrap .notice-wrap .notice-list li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-family: "ManropeB", "NotoB", serif;
	/*font-family: "SpoqaB", serif;*/
	/*font-family: "SpoqaHanSansB", serif;*/
	font-weight: normal;
	font-size: 22px;
	width: 350px;
	padding: 40px 0;
}

.main-wrap .notice-wrap .notice-list li:after {
	display: inline-block;
	content: "";
	width: 11px;
	height: 22px;
	background: url(../../resources-pc/images/icons/ico-main-arrow5.png) 0 0 no-repeat;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
	margin-top: 5px;
}

.main-wrap .notice-wrap .notice-list li:nth-of-type(1), .main-wrap .notice-wrap .notice-list li:nth-of-type(2) {
	border-bottom: 2px solid #2f2f2f;
}

.main-wrap .notice-wrap .notice-list li:nth-of-type(1), .main-wrap .notice-wrap .notice-list li:nth-of-type(3) {
	margin-right: 70px;
}

.main-wrap .select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}

.main-wrap .m-selectbox {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 16px;
	color: #aaa;
	width: 40%;
	height: 35px;
}

.main-wrap .select-styled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* background-color: #da291c; */
	padding: 8px 15px;
	/* @include transition(all 0.2s ease-in); */
}

.main-wrap .select-styled:after {
	content: "";
	width: 7px;
	height: 7px;
	border-left: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	position: absolute;
	top: 12px;
	right: 0;
}

.main-wrap .select-styled:hover {
	/* background-color: darken(#c0392b, 2); */
	color: #fff;
}

.main-wrap .select-styled:active, .main-wrap .select-styled.active {
	/*  background-color: darken(#000, 5); */
	color: #fff;
}

.main-wrap .select-styled:active:after, .main-wrap .select-styled.active:after {
	top: 17px;
	border-left: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	-webkit-transform: rotate(135deg);
	   -moz-transform: rotate(135deg);
	    -ms-transform: rotate(135deg);
	     -o-transform: rotate(135deg);
	        transform: rotate(135deg);
}

.main-wrap .select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 5px 0;
	list-style: none;
	background-color: #242424;
	border: 1px solid #666;
}

.main-wrap .select-options li {
	margin: 0;
	padding: 2px 0;
	text-indent: 15px;
}

.main-wrap .select-options li:hover {
	color: #fff;
}

.main-wrap .select-options li[rel="hide"] {
	display: none;
}

/*# sourceMappingURL=../maps/contents.css.map */
