@CHARSET "UTF-8";

/* marketing_stats */

.tbl_list_basic_matket1{text-align:center;}
.tbl_list_basic_matket1 thead tr th{padding:7px 3px; background:#f7f7f7; color:#888; border-top:1px solid #e7e7e7; border-bottom:1px solid #dbdbdb;font-family: helvetica, arial, 'lucida grande', sans-serif;font-size: 12px;margin-top: 1px;}
.tbl_list_basic_matket1 thead tr.tab_tbl th{border-top:none;background:#fff; text-align:left;} 
.tbl_list_basic_matket1 tbody tr td{padding:8px 3px; border-bottom:1px solid #dbdbdb; color:#141823;line-height: 1.28;font-family: helvetica, arial, 'lucida grande', sans-serif;font-size: 12px;}
.tbl_list_basic_matket1 tbody tr td span{color:#999999;}
.tbl_list_basic_matket1 tbody tr.tr_over td{background:#f1f7fa; cursor:pointer;}
.tbl_list_basic_matket1 tbody tr.tr_disabled td{background: #fdfdfd; color:#ccc;}
.tbl_list_basic_matket1 tbody td.point_title{font:bold 14px 'Malgun Gothic'; letter-spacing:-0.1em; color:#65a8ce;}
.tbl_list_basic_matket1 tbody td.point{font:bold 14px 'Malgun Gothic'; letter-spacing:-0.1em; color:#888}
.tbl_list_basic_matket1 tbody tr th{padding:8px 3px; background:#f7f7f7; color:#888; border-bottom:1px solid #dbdbdb; }
.tbl_list_basic_matket1 tbody tr td a{cursor:Pointer;}
.tbl_list_basic_matket1 tfoot tr th, .tbl_list_basic_matket1 tfoot tr td{padding:10px 3px; background:#f7f7f7; color:#888; border-bottom:1px solid #e7e7e7; border-top:1px solid #dbdbdb;}
.tbl_list_basic_matket1 tfoot tr th.point{font:bold 14px 'Malgun Gothic'; letter-spacing:-0.1em; color:#888}


.io1{background-image:url(../images/icon/fb_icon.png);background-repeat:no-repeat;background-size:auto;background-position:-68px -381px;height:8px;width:16px;position: relative;}
.sp_rHAvPENsMSL {background-image: url(../images/icon/fb_icon.png);background-size: auto;background-repeat: no-repeat;display: inline-block;vertical-align: middle;}
.sp_rHAvPENsMSL.sx_ff2fa9 {width: 11px;height: 11px;background-position: -199px -364px;}
._2ny7 {opacity: .6;}
.2n7:hover {opacity:1}
._54_8 {cursor: pointer;-webkit-user-select: none;}

._1mib ._4h2m {font-weight: bold;}
._53ii ._53iv{padding:12px}
._53ii ._53ij{border:0;border-radius:2px;box-shadow:0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);}

._53ii ._47lu._47lv{color:#141823;font-size:14px;margin-bottom:4px}
._53ii ._47lu._47mc{color:#4e5665;font-size:11px;margin-bottom:8px;text-transform:uppercase}
._53ii ._5v-0{padding-bottom:14px}._53ii ._53il{padding-top:14px;}
._53ii ._53im{padding-right:14px}
._53ii ._53ik{padding-bottom:14px}._53ii ._53in{padding-left:14px}

._-p:after {
    background-color: #52bb5d;
    content: '';
    display: block;
    height: 3px;
}
._-p {
    background-color: #bdc1c9;
    box-sizing: border-box;
    height: 3px;
    margin-top: 6px;
}

._53ii ._53il {
    padding-top: 14px;
}
._53ii ._5v-0 {
    padding-bottom: 14px;
}

._53ii ._53ij {
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
}
._53ij {
    background: #fff;
    position: relative;
}
._2ny1 {
    max-width: 250px;
    padding: 12px;
}
._2ny2 {
    font-weight: bold;
    padding-bottom: 4px;
}
._2ny3 {
    margin-bottom: -12px;
}
._if {
    font-size: 13px;
    margin-bottom: .5em;
}
._3p8 {
    margin: 0 0 1em 0;
}
p {
    margin: 1em 0;
}
._if {
    font-size: 13px;
    margin-bottom: .5em;
}






._4r6_ {
    display: table-row;
}

.clearfix {
    zoom: 1;
}
._5u1r, ._5u1r button, ._5u1r input, ._5u1r label, ._5u1r select, ._5u1r td, ._5u1r textarea {
    font-family: helvetica, arial, 'lucida grande', sans-serif;
    font-size: 12px;
}
._3zmx._3zmx {
    border-bottom: 1px solid #e5e5e5;
    height: 44px;
    padding: 0 4px;
}
._43o4 {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
._3zmx ._45hc {
    margin: 5px 4px;
    position: relative;
}
._45hc, ._45hd {
    display: inline-block;
    list-style-type: none;
    max-width: 100%;
    position: relative;
    vertical-align: middle;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
._3zmx ._1hqh>a {
    cursor: default;
}
._3zmx ._45hc>a {
    padding: 8px;
    text-decoration: none;
}
._45hc a {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._468f {
    outline: none;
}

._3zmx ._1hqh>a:after, ._3zmx ._1hqh>a:before {
    border-color: transparent transparent #d3d6db;
    border-style: solid;
    border-width: 10px;
    bottom: -6px;
    content: '';
    position: absolute;
}

._4hek {
    -webkit-animation: AdsCMManagementPage_slideLeft2 .4s ease;
}
._4hec {
   	right: 23px;
    position: absolute;
   	top: 220px;;
    width: 320px;
}

._4-u2>._4-u3:first-child {
    border-top: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
._4-u2>._4-u3 {
    border-top: 1px solid #e5e5e5;
}
._2ph_ {
    padding: 12px;
}
._3j-f {
    box-sizing: border-box;
    height: 44px;
    left: 0;
    line-height: 24px;
    position: absolute;
    right: 0;
    top: 0;
}
._4-u8 {
    background-color: #fff;
}
._4-u2 {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}
._3-9b {
    margin-left: 12px;
}

._2g8z {
    background: #fff;
    box-sizing: border-box;
    float: right;
    position: relative;
    transition: height .3s ease;
}
._4-u2>._4-u3:first-child {
    border-top: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
._4-u2>._4-u3 {
    border-top: 1px solid #e5e5e5;
}

._4-u2>._4-u3:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
._4-u2>._4-u3 {
    border-top: 1px solid #e5e5e5;
}

._3j-h {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 44px;
}
.uiScrollableArea {
    direction: ltr;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._50f7 {
    font-weight: bold;
}
._50f4 {
    font-size: 14px;
    line-height: 18px;
}
._33kd {
    font-size: 14px;
    margin-left: 4px;
}
._2pir {
    padding-left: 4px;
}
._6b {
    vertical-align: middle;
}
._6a {
    display: inline-block;
}

._3-99 {
    margin-left: 4px;
}

._6b {
    vertical-align: middle;
}
._6a {
    display: inline-block;
}
._128j {
    height: 16px;
    white-space: nowrap;
}
._128k._128m ._128o {
    background-color: #acc8ff;
}
._128m ._128o {
    cursor: default;
}
._128l._128m ._128o {
    background-color: #dcdee3;
}
._128k ._128o {
    background-color: #5890ff;
    padding-left: 13px;
}
._128o {
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    padding: 1px;
    vertical-align: top;
    width: 28px;
}
._128m ._128p {
    box-shadow: none;
}
._128k ._128p {
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, .08), 0 0 1px 0 rgba(0, 0, 0, .05), 0 0 1px 0 rgba(0, 0, 0, .5) inset;
}

._128p {
    background-color: #fff;
    border-radius: 50%;
    height: 14px;
    width: 14px;
}
._5h6b {
    border-radius: 5px;
    float: right;
}

img {
    border: 0;
}

._3j-j {
    position: relative;
}

._3-96 {
    margin-bottom: 12px;
}
._3rif {
    font-weight: bold;
}
._5h6a {
    color: #6a7180;
}
._26wg {
    color: #6a7180;
}
._26wj {
    margin: -6px 0 6px;
}
._26wj ._-p {
    background-color: #bdc1c9;
    box-sizing: border-box;
    height: 3px;
    margin-top: 6px;
}
._26wj ._-p:after {
    background-color: #4bc832;
    content: '';
    display: block;
    height: 3px;
}
._26wk {
    color: #9197a3;
    font-size: 11px;
}
._26wj {
    margin: -6px 0 6px;
}
