@CHARSET "UTF-8";
/* common */
html, body { height:100%; margin:0; padding:0; overflow:auto; color:#666; font:12px dotum;}

ul, li{margin:0; padding:0; list-style:none;}
dl, dt, dd{margin:0; padding:0;}
select{font:12px dotum; color:#888; }
a {text-decoration:none; color:#519eed;}
a:hover {color:#02509f; text-decoration:none;}
img {border:0;}
.clear{clear:both;}
.text, textarea{border:1px solid #eee; border-top:1px solid #dbdbdb; border-left:1px solid #dbdbdb;  height:16px; padding:4px 5px 0 5px; font:12px dotum; vertical-align:top }
textarea{width:97.5%;}
.checkbox, .radio{display:inline-block; margin:0 5px 0 0;}
table{border:none;border-collapse:collapse; width:100%;}
.tdc{text-align:center;}
.tdl{text-align:left;}
.tdr{text-align:right;}
.td_top{border-top-color: rgb(231, 231, 231); border-top-width: 1px; border-top-style: solid;}

.ml5{margin-left:5px}
.ml6{margin-left:6px}
.ml7{margin-left:7px}
.ml8{margin-left:8px}
.ml9{margin-left:9px}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.mt5{margin-top:5px;}
.pt20{padding-top:20px;}

.floatl{float:left}
.floatr{float:right}

.contents_wrap{float:right; padding:0px 20px 20px 20px; min-height:500px; width:1150px; border-left:1px solid #eee; border-right:1px solid #eee;}
.contents_wrap_wide{float:right; padding:0px 20px 20px 20px; min-height:500px; width:1300px; border-left:1px solid #eee; border-right:1px solid #eee;}
.contents_wrap_noborder{float:right; padding:0px 20px 20px 20px; min-height:500px; border-left:1px solid #eee;}

/* login */
.login_body{background:url(../images/layout/bg.png) repeat 0 0;}
.login_wrap{background:#f5fafd url(../images/layout/line1.png) repeat-y left 0;width:450px;font:14px dotum;padding:0px;vertical-align:middle;}
.login_table_1{height:100%;width:100%;border-collapse:collapse}
.login_table_2{background:#f5fafd;border-left:1px solid #e9edef;border-right:1px solid #e9edef;height:100%;width:450px;;border-collapse:collapse}

.btn_login{background:#7cc6e6 url(../images/layout/bg1.png) repeat-x left top;border:1px solid #4daad2; padding:0 20px 0 20px; height:35px; font:bold 14px dotum; color:#fff; cursor:pointer;}

.txt_loginid{border-right:1px solid #eeeeee;border-bottom:1px solid #eeeeee;border-top:1px solid #dddddd;border-left:1px solid #dddddd;ime-mode:disabled;width:240px;height:22px; padding: 8px 0 0 5px; font:bold 16px dotum;color:#888888;}
.txt_loginpw{border-right:1px solid #eeeeee;border-bottom:1px solid #eeeeee;border-top:1px solid #dddddd;border-left:1px solid #dddddd;width:240px;height:22px; padding: 8px 0 0 5px;font:bold 16px dotum;color:#888888;padding-left:5px}

/* admin main */
.bg_body{overflow-y:scroll;}
.layer_body{background:#fff;}
.full_wrap{width:1343px; margin:0 auto;}

/* admin main top */
.top_area{height:74px;}
.logo {float:left; margin:10px 0 15px 10px; cursor:pointer;}
.top_right_link_area{float:right;}
.user_info {margin:10px 10px 0 0;font:11px dotum;color:#aaaaaa; text-align:right}
.user_info a{font:11px dotum;color:#aaaaaa}
.user_info span{color:#7cc6e6;font-weight:bold;}

/* admin main menu */
.gnb_wrap{border-bottom:1px solid #d2d2d2; height:35px;  background:url(../images/layout/gnb_bg.gif) repeat 0 0;}
.gnb{height:33px; border:1px solid #090909; padding-left:15px; letter-spacing:-0.1em;}
.gnb li{float:left; position:relative; top:-1px; color:#fff; background: url(../images/layout/gnb_spr.gif) no-repeat right 12px; width:110px; text-align:center;}
.gnb li a{display:block; height:25px; padding:10px 10px 0 10px;}
.gnb li a:hover{text-decoration:none;}
.gnb li.select {background:url(../images/layout/gnb_select_bg_01.gif) no-repeat left top;}
.gnb li.select a{padding:10px 10px 0 10px; background:url(../images/layout/gnb_select_bg_02.gif) no-repeat right top;}
.gnb li a span , .gnb li.select a span{color:#fff; text-decoration:none; display:block;}
.gnb li.select a span{padding-bottom:4px; border-bottom:2px solid #090909;}
.gnb li.end{background:none;}
.gnb_title_wrap{ background:#fff; }
.gnb_title{font:bold 16px 'Malgun Gothic'; letter-spacing:-0.1em; padding:10px 0 13px 13px; color:#5ab2da; text-align:left;}
.main_wrap{background:#fff;}

/* left sub menu */
.lnb_wrap{width:150px; float:left; background:#fff; border-top:1px solid #eee; text-align:left;}
.lnb, .lnb_select{height:24px; width:135px; padding:13px 0 0 15px; border-bottom:1px solid #eee; cursor:pointer;}
.lnb_select{background: url(../images/layout/lnb_select_bg.gif) no-repeat left top; color:#fff;}
.lnb_sub, .lnb_sub_select{background:#fcfcff; height:16px; width:130px; padding:6px 0 0 20px; cursor:pointer;}
.lnb_sub_select{background:#fcfcff; color:#5ab2da; font-weight:bold;}
.lnb_sub_end{height:16px; width:130px; padding:8px 0 8px 20px; border-bottom:1px solid #eee; cursor:pointer; background:#fcfcff;}
.lnb_sub_select_end{background:#fcfcff; color:#5ab2da; font-weight:bold; height:16px; width:130px; padding:8px 0 8px 20px; border-bottom:1px solid #eee; cursor:pointer;}

.title_wrap{height:36px;margin-bottom:10px;}
.title{float:left; background:url(../images/icon/title.png) no-repeat left center; padding:7px 0 9px 10px; font:bold 15px 'Malgun Gothic',dotum; color:#5ab2da;}
.title span.totalcount{color:#a0cee3}

.search_box{float:right; padding:5px 0 0 0; letter-spacing:-0.1em; }
.btn_search{background:#7cc6e6 url(../images/detail/blue_dot.gif) repeat-x left top; border:1px solid #4daad2; color:#fff; height:26px; padding:3px 12px 0 12px; font:11px dotum; vertical-align:top; cursor:pointer;}
.btn_search_detail{background:#fafafa url(../images/detail/btn_exist_arrow_bg.gif) no-repeat right 3px; border:1px solid #ebebeb; padding:3px 22px 0 12px; height:26px; font:11px dotum; color:#666; cursor:pointer;}
.search_lbl{display:inline-block;}
.search_text{height:22px; font:12px dotum; color:#aaa; width:350px; background:#fafafa; border:1px solid #eee;  border-top:1px solid #ddd;  border-left:1px solid #ddd;}
.title_button{padding:10px 0 0 0; float:right;}
.btn_schedule_select{background:#7cc6e6 url(../images/detail/blue_dot.gif) repeat-x left top; border:1px solid #4daad2; color:#fff; height:26px; padding:3px 12px 0 12px; font:11px dotum; vertical-align:top; cursor:pointer;}
.btn_schedule{background:#fafafa url(../images/icon/dot_white.gif) repeat-x left top; border:1px solid #ebebeb; color:#666; height:26px; padding:3px 12px 0 12px; font:11px dotum; vertical-align:top; cursor:pointer;}

.search_result{margin-bottom:15px; font:bold 13px 'Malgun Gothic';  color:#aaa}
.search_result span {color:#ff7171;}

.detail_search_wrap{border:1px solid #dbdbdb; padding:10px; background:#fafafa; margin-bottom:10px; text-align:left;}
.detail_search_wrap span.search_lbl{padding-right:10px; color:#888}
.detail_search_wrap span.search_lb2{padding-right:5px; color:#888}
.detail_search_wrap .search_text{background:#fff; border:1px solid #e9e9e9; border-top:1px solid #cdcdcd;  border-left:1px solid #cdcdcd; }

/* Layer */
.layer_wrap{width:581px; position:absolute; top:300px; left:50%; margin-left:-290px; z-index:1000; display:none;}
.layer_header{width:100%;height:30px;border-top:1px solid #faf8f8; position:relative;  background:#f3f3f3; }
.layer_title{height:22px; padding:8px 0 0 10px; font-weight:bold;}
.layer_wrap{width:581px; position:absolute; top:300px; left:50%; margin-left:-290px; z-index:1000; display:none;}
.layer_header{width:100%;height:30px;border-top:1px solid #faf8f8; position:relative;  background:#f3f3f3; }
.layer_title{height:22px; padding:8px 0 0 10px; font-weight:bold;}
.close_button{position:absolute; right:0px; top:0px;}
.layer_contents_wrap{width:100%; padding:15px; clear:both; overflow-y:scroll; background-color: white;}
.layer_footer{height:22px; clear:both;}
.layer_footer_left{height:22px; width:22px; background:url(../images/detail/layer_bl.png) no-repeat left top;}
.layer_footer_center{height:22px; background:#fff url(../images/detail/layer_bc.png) repeat-x left bottom; width:536px;}
.layer_footer_right{height:22px; width:22px; background:url(../images/detail/layer_br.png) no-repeat right top;}
.layer_h2{font-weight:bold; color:#5ab2da; margin-bottom:8px; clear:both;}
.layer_p{padding-bottom:15px;}

.user_order_unit, .user_order_unit_over{width:235px; border:1px solid #dbdbdb; padding:10px; margin:0 15px 10px 0; float:left;}
dl.user_order dt{font:bold 14px 'Malgun Gothic'; margin-bottom:5px; color:#5ab2da; text-align:left;}
dl.user_order dt span{font:bold 12px 'Malgun Gothic'; margin-bottom:5px; color:#aaa; text-align:left;}
dl.user_order dd {margin-bottom:3px; color:#888; text-align:left;}
dl.user_order dd span{display:inline-block; width:110px; color:#444; text-align:left;}
.user_order_unit_over{cursor:pointer; background:#f4f8fa; border:1px solid #dbe3f0; border-bottom:1px solid #c3cddd; border-right:1px solid #c3cddd; }

.tab{height:40px; border-bottom:1px solid #d5d9dc; border-left:1px solid #d5d9dc;}
.tab li{font:bold 14px 'Malgun Gothic'; height:29px; padding:10px 20px 0 20px; float:left; background:#f3f3f3; border-right:1px solid #d5d9dc; border-top:1px solid #d5d9dc; color:#888; cursor:pointer;}
.tab li.select{background:#fff; color:#139fd0; height:30px;}

.pagenation{ clear:both; text-align:center; padding:10px 0;}
.pagenation a{display:inline-block; width:24px; height:17px; padding:7px 0 0 0; text-align:center; color:#888; text-decoration:none; vertical-align:top; font-size:11px;}
.pagenation a.over{width:22px; height:18px; padding:6px 0 0 0; border:1px solid #d2e2e9; color:#888; background:#f1f7fa;}
.pagenation a.select{width:22px; height:18px; padding:6px 0 0 0; border:1px solid #5ab2da; font-weight:bold; color:#fff; background:#8dc8e3;}
.pagenation .pprev, .pagenation .prev, .pagenation .next, .pagenation .nnext{width:26px; height:20px;}
.pagenation .pprev{background:url(../images/detail/page_pprev.gif) no-repeat center top;}
.pagenation .prev{background:url(../images/detail/page_prev.gif) no-repeat center top;}
.pagenation .next{background:url(../images/detail/page_next.gif) no-repeat center top;}
.pagenation .nnext{background:url(../images/detail/page_nnext.gif) no-repeat center top;}
.pagenation .pprev_over, .pagenation .prev_over, .pagenation .next_over, .pagenation .nnext_over{width:24px; height:18px; border:1px solid #d2e2e9;}
.pagenation .pprev_over{background:#fff url(../images/detail/page_pprev.gif) no-repeat center top;}
.pagenation .prev_over{background:#fff url(../images/detail/page_prev.gif) no-repeat center top;}
.pagenation .next_over{background:#fff url(../images/detail/page_next.gif) no-repeat center top;}
.pagenation .nnext_over{background:#fff url(../images/detail/page_nnext.gif) no-repeat center top;}

/* Footer */
.footer_wrap{border-top:1px solid #ebebeb; clear:both; background:#fff; text-align:center; padding:15px 0 20px 0; font:11px dotum; color:#a09e9e;}
.fnb{margin-bottom:10px;}
.fnb a{color:#a09e9e; display:inline-block; text-decoration:none; padding:0 6px 0 5px; background:url(/images/layout/fnb_bar.gif) no-repeat right 1px;}
.fnb a.end{background:none;}
.company_info {line-height:18px; margin-bottom:15px;}
.company_info span{ display:inline-block;  padding:0 6px 0 5px; background:url(/images/layout/fnb_bar.gif) no-repeat right top;}
.copyright{font:11px arial;}

/*TABLE*/
.tbl_list_basic1{text-align:none;}
.tbl_list_basic1 thead tr th{padding:10px 3px; background:#f7f7f7; color:#888; border-top:1px solid #e7e7e7; border-bottom:1px solid #dbdbdb;}
.tbl_list_basic1 thead tr.tab_tbl th{border-top:none;background:#fff; text-align:left;} 
.tbl_list_basic1 tbody tr td{padding:8px 3px; border-bottom:1px solid #dbdbdb; color:#888;}
.tbl_list_basic1 tbody tr.tr_over td{background:#f1f7fa; cursor:pointer;}
.tbl_list_basic1 tbody tr.tr_disabled td{background: #fdfdfd; color:#ccc;}
.tbl_list_basic1 tbody td.point_title{font:bold 14px 'Malgun Gothic'; letter-spacing:-0.1em; color:#65a8ce;}
.tbl_list_basic1 tbody td.point{font:bold 14px 'Malgun Gothic'; letter-spacing:-0.1em; color:#888}
.tbl_list_basic1 tbody tr th{padding:8px 3px; background:#f7f7f7; color:#888; border-bottom:1px solid #dbdbdb; }
.tbl_list_basic1 tfoot tr th, .tbl_list_basic1 tfoot tr td{padding:10px 3px; background:#f7f7f7; color:#888; border-bottom:1px solid #e7e7e7; border-top:1px solid #dbdbdb;}
.tbl_list_basic1 tfoot tr th.point{font:bold 14px 'Malgun Gothic'; letter-spacing:-0.1em; color:#888}

.tbl_view_basic{border-bottom:1px solid #fff;}
.tbl_view_basic tbody tr th{padding:9px 10px 18px 10px; text-align:left; color:#888; font:bold 15px 'Malgun Gothic'; vertical-align:top;}
.tbl_view_basic tbody tr td{padding:10px 10px 15px 10px; text-align:left; color:#888;}
.tbl_view_basic tbody tr th span{color:#ff0000; }
.view_tbl_text{height:25px;font:bold 15px dotum; color:#aaa; width:700px; background:#fafafa; border-top:1px solid #ddd;  border-left:1px solid #ddd; padding:0 5px;}

.h2_title{font:bold 15px 'Malgun Gothic', dotum; color:#888; margin-bottom:10px; clear:both; text-align:left;}
.h3_title{font:bold 13px 'Malgun Gothic', dotum; color:#888; margin-bottom:10px; clear:both; text-align:left;}
.h2_more{float:right; font:12px dotum;}
.h2_more a{display:block; padding:3px 5px 3px 5px; color:#888;}
.h2_more a:hover{background:#f4f8fa; color:#888; border:1px solid #dbe3f0; border-bottom:1px solid #c3cddd; border-right:1px solid #c3cddd;}
.h2_more a:active{background:#eff4f6; color:#888; border:1px solid #dbe3f0; border-top:1px solid #c3cddd; border-left:1px solid #c3cddd;}
.h2_cont, .h2_cont_over{margin-bottom:20px; border:1px solid #dbdbdb; padding:7px;}
.h2_cont_over{background:#f4f8fa; border:1px solid #dbe3f0; border-bottom:1px solid #c3cddd; border-right:1px solid #c3cddd; cursor:pointer}
.user_info_summary{height:50px; cursor:pointer; margin-bottom:20px; border:1px solid #dbdbdb; padding:15px;}
.summary_user_image{float:left; margin-right:15px; border:1px solid #eee; }
.summary_username{font:bold 14px 'Malgun Gothic', dotum; color:#5ab2da; padding-top:10px; text-align:left;}
.summary_user_info{color:#888; font-family:arial; padding-top:3px;}
.user_info_summary_over{height:50px; cursor:pointer; margin-bottom:20px; padding:15px; background:#f4f8fa; border:1px solid #dbe3f0; border-bottom:1px solid #c3cddd; border-right:1px solid #c3cddd;}
.sumary_username_wrap{float:left; margin-right:15px;}
.summary_user_coin, .summary_user_credit, .summary_user_keyring, .summary_user_giftpoint, .summary_user_free, .summary_user_block, .summary_user_button {float:left; background:#fafafa; padding:15px 15px 15px 50px; height:20px; border:1px solid #dbdbdb; margin-right:10px; font:bold 15px 'Malgun Gothic'; color:#888}
.summary_user_coin{background:#fafafa url(/images/icon/coin.png) no-repeat 16px 15px;}
.summary_user_credit{background:#fafafa url(/images/icon/credit.png) no-repeat 13px 15px;}
.summary_user_keyring{background:#fafafa url(/images/icon/key.png) no-repeat 16px 15px;}
.summary_user_giftpoint{background:#fafafa url(/images/icon/giftpoint.png) no-repeat 16px 15px;}
.summary_user_free{background:#7cc6e6 url(/images/icon/freechips.png) no-repeat 12px 11px; border:1px solid #4daad2; border:1px solid #4daad2; color:#fff;}
.summary_user_block{background:#fafafa url(/images/icon/block.png) no-repeat 13px 10px;}

.qa_user_info_summary{height:120px; cursor:pointer; margin-bottom:20px; border:1px solid #dbdbdb; padding:15px;}
.qa_user_info_summary_over{height:120px; cursor:pointer; margin-bottom:20px; padding:15px; background:#f4f8fa; border:1px solid #dbe3f0; border-bottom:1px solid #c3cddd; border-right:1px solid #c3cddd;}

.div_line{clear:both; border-bottom:1px solid #eee; padding-top:4px;}

.product_info_summary, .product_info_summary_over{cursor:pointer; margin-bottom:20px; border:1px solid #dbdbdb; padding:15px;}
.product_info_summary_over{background:#f4f8fa; border:1px solid #dbe3f0; border-bottom:1px solid #c3cddd; border-right:1px solid #c3cddd;}
.summary_product_image{float:left; margin-right:15px; border:1px solid #eee; text-align:left;}
.summary_productname{font:bold 14px 'Malgun Gothic', dotum; color:#5ab2da; padding-top:10px; text-align:left;}
.summary_product_description{color:#888; padding-top:7px; text-align:left;}

.summary_item, .user_item{clear:both; padding-top:10px;}
.summary_item_lbl{float:left; width:120px; color:#444; text-align:left;}
.summary_item_value{padding-left:120px; text-align:left;}
.user_item_lbl{width:75px; float:left; color:#444; background:url(/images/icon/bullet_blue.png) no-repeat left 5px; padding-left:10px; text-align:left;}
.user_item_value{padding-left:75px; text-align:left;}

.friendlist_unit, .friendlist_unit_over{width:70px; height:90px; border:1px solid #dbdbdb; padding:10px; margin:0px 15px 10px 0px; float:left;}
.friendlist_unit dt, .friendlist_unit_over dt{text-align:center;}
.friendlist_unit dd, .friendlist_unit_over dd{margin-top:5px;text-align:center;}
.friendlist_unit_over{cursor:pointer; background:#f4f8fa; border:1px solid #dbe3f0; border-bottom:1px solid #c3cddd; border-right:1px solid #c3cddd; }

/* Pagenation */
.pagenation{ clear:both; text-align:center; padding:10px 0;}
.pagenation a{display:inline-block; width:24px; height:17px; padding:7px 0 0 0; text-align:center; color:#888; text-decoration:none; vertical-align:top; font-size:11px;}
.pagenation a.over{width:22px; height:18px; padding:6px 0 0 0; border:1px solid #d2e2e9; color:#888; background:#f1f7fa;}
.pagenation a.select{width:22px; height:18px; padding:6px 0 0 0; border:1px solid #5ab2da; font-weight:bold; color:#fff; background:#8dc8e3;}
.pagenation .pprev, .pagenation .prev, .pagenation .next, .pagenation .nnext{width:26px; height:20px;}
.pagenation .pprev{background:url(../images/detail/page_pprev.gif) no-repeat center top;}
.pagenation .prev{background:url(../images/detail/page_prev.gif) no-repeat center top;}
.pagenation .next{background:url(../images/detail/page_next.gif) no-repeat center top;}
.pagenation .nnext{background:url(../images/detail/page_nnext.gif) no-repeat center top;}
.pagenation .pprev_over, .pagenation .prev_over, .pagenation .next_over, .pagenation .nnext_over{width:24px; height:18px; border:1px solid #d2e2e9;}
.pagenation .pprev_over{background:#fff url(../images/detail/page_pprev.gif) no-repeat center top;}
.pagenation .prev_over{background:#fff url(../images/detail/page_prev.gif) no-repeat center top;}
.pagenation .next_over{background:#fff url(../images/detail/page_next.gif) no-repeat center top;}
.pagenation .nnext_over{background:#fff url(../images/detail/page_nnext.gif) no-repeat center top;}

/* button */
.button_warp{padding-top:15px;}
.btn_01{background:#7cc6e6 url(../images/detail/blue_dot.gif) repeat-x left top; border:1px solid #4daad2; color:#fff; height:27px; padding:3px 10px; font:12px dotum; vertical-align:middle; cursor:pointer;}
.btn_02{background:#fafafa url(../images/detail/dot_white.gif) repeat-x left top; border:1px solid #dbdbdb; color:#666; height:27px;  padding:3px 10px; font:11px dotum; vertical-align:top; cursor:pointer;}
.btn_03{background:#7cc6e6 url(../images/detail/blue_dot.gif) repeat-x left top; border:1px solid #4daad2; color:#fff; height:23px; padding:3px 15px 0 15px; font:11px dotum; vertical-align:top; cursor:pointer;}
.btn_04{background:#fafafa url(../images/detail/btn_exist_arrow_bg.gif) no-repeat right 3px; border:1px solid #ebebeb; padding:3px 24px 0 13px; height:23px; font:11px dotum; color:#666; cursor:pointer;}
.btn_05{background:#fafafa url(../images/icon/dot_white.png) repeat-x left top; border:1px solid #ebebeb; color:#aaa; height:27px; padding:3px 10px; font:12px dotum; vertical-align:middle; cursor:pointer;}
.btn_06{background:#5b74a8 url(../images/detail/blue_dot1.gif) repeat-x left top; border:1px solid #29447e; color:#fff; height:23px; padding:3px 15px 0 15px; font:bold 11px dotum; vertical-align:top; cursor:pointer;}
.btn_setting_01{ background:#7cc6e6 url(../images/icon/blue_dot.gif) repeat-x left top; border:1px solid #4daad2; color:#fff; height:35px; padding:0px 25px 2px 25px; font:bold 15px 'Malgun Gothic', dotum; letter-spacing:-0.1em; vertical-align:top; cursor:pointer;}
.btn_setting_02{ background:#fafafa url(../images/icon/dot_white.gif) repeat-x left top; border:1px solid #ebebeb; color:#666; height:35px; padding:0px 25px 2px 25px; font:bold 15px 'Malgun Gothic', dotum; letter-spacing:-0.1em; vertical-align:top; cursor:pointer;}

/* loading */
.loading {background-color: white; z-index: 9999;}
#loading {height: 100%; left: 0px; position: fixed; _position:absolute;	top: 0px; width: 100%; filter:alpha(opacity=30); -moz-opacity:0.3; opacity : 0.5;}
#loading_img {width:46px; position:absolute; top:50%; left:50%; height:46px; margin-top:-23px; margin-left:-23px; z-index: 10000;}

/* vbar */
.vbar_unit{height:15px; clear:both; padding:5px 0px;}
.vbar_over{background:#f1f7fa;}
.vbar_lbl{margin-right:5px; font:11px verdana; float:left;}
.vbar_1, .vbar_2, .vbar_3{height:12px; float:left;}
.vbar_lbl_title{margin-right:5px; font:11px verdana; float:left; text-align:center; font:bold 12px 'Malgun Gothic'; color:#5ab2da;}
.vbar_1_title, .vbar_2_title, .vbar_3_title{height:12px; float:left; text-align:center; font:bold 12px 'Malgun Gothic'; color:#5ab2da;}
.vbar_1_bar{border:1px solid #46a5e1; background:#75c5f8; height:12px; width:220px; font:11px verdana; float:left}
.vbar_2_bar{border:1px solid #e34d4d; background:#ff7171; height:12px; width:220px; font:11px verdana; float:left}
.vbar_3_bar{border:1px solid #dc9732; background:#f0af4f; height:12px; width:220px; font:11px verdana; float:left}
.vbar_number{padding:0 0 0 5px; float:left; font:11px verdana;}
.w90{width:90px;}
.w150{width:150px;}
.w300{width:300px;}
.w330{width:330px;}